* {
    box-sizing: border-box;
}

.titulo {
    text-align: center;
}

.container::after {
    content: "";
    clear: both;
    display: block;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.boton {
    border-radius: 10px;
    margin-inline: 5px;
    padding: 5px;
    padding-inline: 10px;
    box-shadow: 1px 1px 5px rgba(128, 128, 128, 0.585);
}

.botonDefault {
    background-color: rgba(198, 198, 198, 0.502);
    border: 2px solid rgba(198, 198, 198, 0.502);
}

.botonDefault:hover {
    cursor: pointer;
    background-color: white;
}

.botonShiny {
    background-color: rgba(255, 217, 0, 0.55);
    border: 2px solid gold;
}

.botonShiny:hover {
    cursor: pointer;
    background-color: white;
}

.centrarContenido {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.divAlerta {
    padding: 2em;
    border-radius: 10px;
    border: 1px solid black;
    text-align: center;
}

.info {
    background-color: rgba(65, 147, 218, 0.448);
    border-color: rgb(65, 147, 218);
}

.error {
    background-color: rgba(240, 62, 62, 0.468);
    border-color: red;
}

input {
    padding: 5px;
    box-shadow: 1px 1px 5px rgba(128, 128, 128, 0.585);
    border: 1px solid rgba(128, 128, 128, 0.667);
}

.col-4 {
    width: 33.33%;
}

@media only screen and (max-width: 800px) {
    [class*="col-"] {
        width: 100%;
    }
}